.footer {
  white-space: nowrap; /* Prevent content from wrapping */
  overflow-x: hidden;
  -ms-overflow-style: none; /* Hide scrollbar on Edge and IE */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
}
.footer__content {

}
.footer__footer-slider {
  display: flex;
  width: 3000px;
  background-image: url(./../../images/group-mobile.png);
  height: 437px;
}
.footer-slider__content {
  margin-left: 60px;
  width: 693px;
  font-style: 24px;
  line-height: 32px;
}


.scroll-tracker {
  position: fixed;
  z-index: 33;
  height: 0.5rem;
  background-color: aqua;
  inset: 0 0 auto;
  transform-origin: left;
}
