.footer {
  overflow-x: hidden;
  -ms-overflow-style: none; /* Hide scrollbar on Edge and IE */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
}

.footer__title {
  font-style: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 24px;
}
.footer__title--black-white {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}
.footer__content {

}

.footer__footer-list-slider {
  position: relative;
  display: flex;

  width: 3585px;
  height: 761px;

  margin-top: 60px;
  background-repeat: no-repeat;
  background-image: url(./../../images/footer-png.png);
  background-size: contain;

  @media (max-width: 570px) {
    width: 1880px;
    /* height: 427px; */
    height: 427px;
    /* padding-bottom: 100px; */

  }
}
.footer__footer-slider-timeline {
  position: fixed;
  z-index: 99;

  top: 48%;
  left: 110px;
  /* width: 257px; */
  width: 7%;
  height: 5px;
  background-color: var(--color-violet);
  /* transition: width 0.3s ease; Add a transition for smooth animation */
  @media (max-width: 570px) {
    top: 191px;
    left: 70px;
  }
}

.footer-list-slider__item {
  font-size: 24px;
  line-height: 32px;
  width: 693px;
  height: fit-content;

  @media (max-width: 570px) {
    font-size: 12px;
    line-height: 16px;
    width: 287px;
    /* height: 80px; */
  }
}
.footer-list-slider__title-num {
  color: var(--color-violet);
  margin-bottom: 5px;
  font-size: 44px;
  @media (max-width: 570px) {
    font-size: 25px;
  }
}
.footer-list-slider__title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-violet);
  font-size: 30px;
  @media (max-width: 570px) {
    font-size: 20px;
  }
}

/* .footer-list-slider__item--end {
  align-self: flex-end;
} */
.footer-list-slider__item--1 {
  position: relative;
  left: 148px;
  @media (max-width: 570px) {
    left: 80px;

  }
}
.footer-list-slider__item--2 {
  position: relative;

    top: 510px;
    left: 243px;

  @media (max-width: 570px) {
    left: 205px;
    top: 263px;

  }

}
.footer-list-slider__item--3 {
  /* margin-left: -810px; */
  position: relative;

  left: 379px;
  @media (max-width: 570px) {
    left: 355px;
  }
}
.footer-list-slider__item--4 {
  position: relative;
  top: 544px;
  left: 615px;
  @media (max-width: 570px) {
    top: 248px;
    left: 555px;
  }
}


.scroll-tracker {
  position: fixed;
  z-index: 33;
  height: 0.5rem;
  background-color: aqua;
  inset: 0 0 auto;
  transform-origin: left;
}
