@import './utils/variables.css';
@import './utils/mixins.css';

@import "./blocks/header.css";
@import "./blocks/about-us.css";
@import "./blocks/footer.css";

* {
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page-body {
  /* padding: 24px 22px 135px; */
}

.displayNone {
  display: none;
}
