@import './normalize/normalize.css';
@import './utils/variables.css';

@import "./blocks/header.css";
@import "./blocks/about-us.css";
@import "./blocks/footer.css";
@import "./blocks/aside.css";

* {
  font-family: 'Unbounded', sans-serif;
  box-sizing: border-box;
}

a {
  color: var(--color-font);
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.page-body {
  background-color: var(--color-background);
  color: var(--color-font);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.displayNone {
  display: none;
}

.violet-color {
  color: var(--color-violet);
}

.disable-scroll {
  overflow-y: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
